// _variables.scss

// Colors
$primary-color:  rgb(158, 107, 160);
$secondary-color: rgb(21,21,21);

// Gradients
$bluegradient: linear-gradient(rgba(84, 88, 105, 1), rgba(58, 78, 179, 1));

// Fonts
$primary-font: 'Arial', sans-serif;
$secondary-font: 'Roboto', 'Helvetica Neue', sans-serif;